$background: #FCE8DA;
$background-alt: #16161E;
$background-alt2: #E3C99F;
$foreground: #661743;
$red: #634449;
$yellow: #634449;
$orange: #634449;
$green: #634449;
$blue: #634449;
$blue2: #634449;
$magenta: #634449;
$cyan: #634449;
